[class*="col-"] 
{
    float: left;
    padding: 15px;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
body {
    background-color: #edf2fc;
    overflow-x: hidden;
}
.logo{
    padding-top: 12px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'DM Serif Text', serif;
}
nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    width: 27%;
    padding-top: 12px;
    font-size: 18px;
    font-family: 'Jacques Francois', serif;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
.about{   
    overflow: hidden;
      
}
.card{
    box-shadow: rgba(255, 0, 208, 0.467) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 90%;
    height: 100%;
    
}
.content h1{
    text-align: center;
    margin-bottom: 25px;
    font-style: 'DM Serif Text';
}
.text
{
    font-family: 'GFS Didot', serif;
    font-size: 20px;
    color: #000000;
    text-align: justify;
}
.cardvision
{
    box-shadow: rgba(255, 0, 208, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 25px; 
}
.cardvision h1
{
    text-align: center;
    font-style: 'DM Serif Text';
}
.cardvision li
{
    font-size: 20px ;
    font-family: 'GFS Didot', serif;
}
.cardmission
{
    box-shadow: rgba(255, 0, 208, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 25px;
}
.cardmission h1
{
    text-align: center;
    font-style: 'DM Serif Text';
}
.cardmission li
{
    font-size: 20px ;
    font-family: 'GFS Didot', serif;
}
