[class*="col-"] 
{
    float: left;
    padding: 15px;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
body {
    background-color: var(--latar);
    overflow-x: hidden;
}
.about{   
    overflow: hidden; 
}
.card{
    box-shadow: rgba(255, 0, 208, 0.467) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: var(--about);
    border-radius: 20px;
    width: 88%;
    height: 100%;
    
}
.content h1{
    text-align: center;
    margin-bottom: 25px;
    font-style: 'DM Serif Text';
    color: var(--abouth1);
}
.text
{
    font-family: 'GFS Didot', serif;
    font-size: 20px;
    color: var(--abouttext);
}
.cardvision
{
    box-shadow: rgba(255, 0, 208, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: var(--about);
    border-radius: 25px;
    padding: 25px; 
}
.cardvision h1
{
    text-align: center;
    font-style: 'DM Serif Text';
}
.cardvision li
{
    color: var(--abouttext);
    font-size: 20px ;
    font-family: 'GFS Didot', serif;
}
.cardmission
{
    box-shadow: rgba(255, 0, 208, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color:var(--about);
    border-radius: 25px;
    padding: 25px;
}
.cardmission h1
{
    text-align: center;
    font-style: 'DM Serif Text';
}
.cardmission li
{
    color: var(--abouttext);
    font-size: 20px ;
    font-family: 'GFS Didot', serif;
}
