* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

:root {
    --warna1: #4a5568;
    --warna2: #2f3542;
}

.body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: white;
    font-family: sans-serif;
    max-width: 1000%;
    width: 100%;
}

/*** NAVBAR MEDIA SETTINGS  ***/
nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    color: #000000;
    padding: 20px 0;
    background-color: white;
    width: 100%;
    height: 60px;
    align-items: center;
    display: cover;
    box-shadow: 0 2.5px 4px rgba(1, 1, 1, 0.1);
}
.logo{
    padding-top: 12px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'DM Serif Text', serif;
}
nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    width: 27%;
    padding-top: 12px;
    font-size: 18px;
    font-family: 'Jacques Francois', serif;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
/*** MAIN MEDIA SETTINGS  ***/
.card{
    max-width: 100%;
    width: 38%;
    padding: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
    margin-left: 9rem;
    height: 37rem;
    text-align: center;
}
.card h2{

}
.jarak{
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.card .teks h2{
    font-family: 'Poppins', sans-serif;
    color: #2f3542;
}
.underline {
border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 9rem;
}
.lin{
    border-bottom: solid 2px white;
    margin: -0.512em auto;
    width: 6rem;
}
.inpt1{
    width: 100%;
    height: 50px;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid grey
}
.col1{
    text-align: left;
}
.inpt1 :focus{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}
.inpt2{
    width: 100%;
    height: 63px;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid grey
}
.col2 {
    text-align: left;
    margin-top: 0px;
    margin-left: 1rem;
}
.card1{
    max-width: 100%;
    width: 80%;
    padding: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
    background-color: #095a55;
    border-radius: 11px;
    margin: auto;
    margin-top: 0.2rem;
    margin-left: 1rem;
    text-align: center;
    height: 21rem;
}
.card1 h3{
    color: white;
}
.card1 p{
    color: white;
}

.maps{
    margin-top: 20px;
    margin-left: 30px;
    width: 30rem;
    height: 13.4rem;
    margin-left: 0px;
}
.card2{
    max-width: 100%;
    width: 80%;
    padding: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 11px;
    margin: auto;
    margin-top: 0rem;
    margin-left: 1rem;
    text-align: center;
    height: 13.4rem;
    padding-left: 0px;
}
#btn {
    width: 100%;
    height: 2.5rem;
    margin-left: 0.9rem;
    margin-top: 0;
    font-size: 1.4rem;
    border: 1px solid grey;
    border-radius: 11px;
    margin-top: 23px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/*** INFO ***/
.infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.infobox div span{
    min-width: 40px;
    height: 40px;
    color: white;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 11px;
    margin-right: 15px;
    padding: 10px;
}
.infobox p{
    text-align: left;
    font-size: 1rem;
    margin-top: 19px;
}
.infobox div a{
    color: #ffff;
    text-decoration: none;
}


/*** SOCIAL MEDIA SETTINGS  ***/
.bi-whatsapp,
.fa-instagram,
.bi-linkedin,
.fa-twitter,
.bi-facebook {
  color: #ccc;
  transition: 0.8s;
}
.social ul{
    list-style: none;
    display: flex;
    margin-top: 0rem;
    position: relative;
}
.social li{
    padding-right: 30px;
    margin-left: 21px;
    width: 100%;
    justify-content: space-between;
}
.bi-whatsapp:hover {
    color: #2ecc71 !important;
}
.bi-instagram:hover {
    color: #c13584 !important;
}
.bi-linkedin:hover {
    color: #2867b2 !important;
}
.bi-twitter:hover {
    color: #1da1f3 !important;
}
.bi-facebook:hover {
    color: #3b5998 !important;
}

/*** NYOBA RESPONSIF ***/
@media(max-width:991px)
{
    .body{
    background: body;
    }
    .contactUs{
        padding: 20px;
    }
    .infobox{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "card" "card1 " "card2" "maps" "infobox";
    }
    .maps{
        min-height: 300px;
    }
    .infobox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inpt1, .inpt2{
        width: 100%;
    }
}
